DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/db_name
ALEMBIC_DATABASE_URL=postgresql+psycopg2://postgres:password@localhost:5432/db_name
SECRET_KEY=change_me
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256